.button {
  display: block;
  width: 90%;
  margin: auto;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 0.1em;
  transition: all 1s;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button .icon {
  margin-right: 10px;
}

.button:hover {
  transform: scale(1.05);
  opacity: 0.8;
}
.google {
  background-color: rgb(234, 67, 53);
  bottom: #fff;
  color: #fff;
}

.facebook {
  background-color: rgb(24, 119, 242);
  color: #fff;
}

.login {
  background-color: rgb(7, 167, 42);
  color: #fff;
}
